<div>
	<h1>User List | <a routerLink="/users/create">Add New</a></h1>
	<table class="table table-sm">
		<thead>
			<tr>
				<th>ID</th>
				<th>UserName</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Reviewer?</th>
				<th>Admin?</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let u of users">
				<td>{{ u.ID }}</td>
				<td>{{ u.UserName }}</td>
				<td>{{ u.FirstName}} {{ u.LastName}}</td>
				<td>{{ u.Phone }}</td>
				<td>{{ u.Email }}</td>
				<td>{{ u.IsReivew | boolDisplay }}</td>
				<td>{{ u.IsAdmin | boolDisplay }}</td>
				<td>
					<a routerLink="/users/detail/{{u.ID}}">DETAILS</a> |
					<a routerLink="/users/edit/{{u.ID}}">EDIT</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>